In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd
import numpy as np

In [40]:
#READ IN PRODUCTION, WELL NAMES WITH IDs LIST, AND INTEREST DATA
production = pd.read_csv(r"C:\Users\avalosg\OneDrive - CML Exploration\Database\data.csv", usecols=[0,1,2,3,4])
ids = pd.read_csv("raw data\well_id.csv")
interests = pd.read_csv("raw data\PARTNER_INTERESTS.csv", usecols=[0,2,3,4,5,6,7,8,9,10,11])
interests.fillna("", axis=1, inplace=True)
#kyle = pd.read_csv("raw data\K2 Resources RI.csv", dtype={"ID":"object"})

In [41]:
interests

,ID,3,35810,24363,21723,30058,21927,35104,1,37745,35471
0,0,,,,,,,,,,
1,1825.002,0.001575,,0.009452,0.040438,,0.211283,,0.180657,,
2,1825.003,,,0.009978,0.042690,,0.221385,,0.187731,,
3,1825.004,0.001574,,0.009445,0.040410,,0.209562,,0.180531,,
4,1825.005,0.001572,,0.009435,0.040366,,0.210903,,0.180332,,
...,...,...,...,...,...,...,...,...,...,...,...
159,8725.524,,,,,,,,,,0.000301
160,8725.525,,,,,,,,,,0.000301
161,8725.526,,,,,,,,,,0.000094
162,8725.527,,,,,,,,,,0.000094
163,8725.528,,,,,,,,,,0.000375

In [42]:
#MERGE WELL IDs TO PRODUCTION
df = pd.merge(ids, production, on='Well Name')

In [43]:
#MERGE WELLS AND WELL DESIGNATED IDS TO PARTNER'S INTERSTS
nets = pd.merge(df, all_intrest, on="ID")

In [44]:
nets

,ID,Well Name_x,Date,Oil (BBLS),Gas (MCF),Water (BBLS),Well Name_y,3,35810,24363,21723,30058,21927,35104,1,37745,35471
0,4035.007,Aaron #1,2021-09-26,10.0,12.0,123.0,AARON #1,0.001461,,0.014607,0.037496,0.001461,0.192885,,0.150517,,0.001461
1,4035.007,Aaron #1,2021-09-25,2.0,11.0,20.0,AARON #1,0.001461,,0.014607,0.037496,0.001461,0.192885,,0.150517,,0.001461
2,4035.007,Aaron #1,2021-09-24,70.0,0.0,37.0,AARON #1,0.001461,,0.014607,0.037496,0.001461,0.192885,,0.150517,,0.001461
3,4035.007,Aaron #1,2021-09-23,165.0,11.0,66.0,AARON #1,0.001461,,0.014607,0.037496,0.001461,0.192885,,0.150517,,0.001461
4,4035.007,Aaron #1,2021-09-22,125.0,94.0,18.0,AARON #1,0.001461,,0.014607,0.037496,0.001461,0.192885,,0.150517,,0.001461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275802,1825.004,Woodward #1,2012-02-24,18.0,0.0,4.0,Woodward #1,0.001574,,0.009445,0.040410,,0.209562,,0.180531,,NaN
275803,1825.004,Woodward #1,2012-02-23,48.0,0.0,4.0,Woodward #1,0.001574,,0.009445,0.040410,,0.209562,,0.180531,,NaN
275804,1825.004,Woodward #1,2012-02-22,2.0,0.0,5.0,Woodward #1,0.001574,,0.009445,0.040410,,0.209562,,0.180531,,NaN
275805,1825.004,Woodward #1,2012-02-21,2.0,0.0,5.0,Woodward #1,0.001574,,0.009445,0.040410,,0.209562,,0.180531,,NaN
275806,1825.004,Woodward #1,2012-02-20,20.0,0.0,5.0,Woodward #1,0.001574,,0.009445,0.040410,,0.209562,,0.180531,,NaN

In [51]:
nets.to_csv("raw data/production-partner-revenue-interest.csv")

In [52]:
#CREATE A NEW DF TO MULTIPLY DAILY PRODUCTION BY INTEREST
nets_ownership = nets
nets_ownership.replace("",0, inplace=True)

In [53]:
#PARTNERS =["CASEY", "CML", "IDC", "JASON", "KEN", "LANMLN", "PATTERSON", "PHIL", "TRAVIS"]
#OUTPUT= ["OIL", "GAS"]

In [54]:
#MULTIPLY EACH INTEREST BY DAILY PRODUCTION
nets_ownership["CASEY-OIL"] = nets["Oil (BBLS)"] * nets["35810"].astype(float)
nets_ownership["CASEY-GAS"] = nets["Gas (MCF)"] * nets["35810"].astype(float)
nets_ownership["CML-OIL"] = nets["Oil (BBLS)"] * nets["3"].astype(float)
nets_ownership["CML-GAS"] = nets["Gas (MCF)"] * nets["3"].astype(float)
nets_ownership["IDC-OIL"] = nets["Oil (BBLS)"] * nets["21723"].astype(float)
nets_ownership["IDC-GAS"] = nets["Gas (MCF)"] * nets["21723"].astype(float)
nets_ownership["JASON-OIL"] = nets["Oil (BBLS)"] * nets["30058"].astype(float)
nets_ownership["JASON-GAS"] = nets["Gas (MCF)"] * nets["30058"].astype(float)
nets_ownership["KEN-OIL"] = nets["Oil (BBLS)"] * nets["21927"].astype(float)
nets_ownership["KEN-GAS"] = nets["Gas (MCF)"] * nets["21927"].astype(float)
nets_ownership["LANMLN-OIL"] = nets["Oil (BBLS)"] * nets["35104"].astype(float)
nets_ownership["LANMLN-GAS"] = nets["Gas (MCF)"] * nets["35104"].astype(float)
nets_ownership["PATTERSON-OIL"] = nets["Oil (BBLS)"] * nets["1"].astype(float)
nets_ownership["PATTERSON-GAS"] = nets["Gas (MCF)"] * nets["1"].astype(float)
nets_ownership["PHIL-OIL"] = nets["Oil (BBLS)"] * nets["24363"].astype(float)
nets_ownership["PHIL-GAS"] = nets["Gas (MCF)"] * nets["24363"].astype(float)
nets_ownership["TRAVIS-OIL"] = nets["Oil (BBLS)"] * nets["37745"].astype(float)
nets_ownership["TRAVIS-GAS"] = nets["Gas (MCF)"] * nets["37745"].astype(float)
nets_ownership["KYLE-OIL"] = nets["Oil (BBLS)"] * nets["35471"].astype(float)
nets_ownership["KYLE-GAS"] = nets["Gas (MCF)"] * nets["35471"].astype(float)

In [55]:
#DROP PRODUCTION AND INTEREST COLUMNS - ONLY DAILY PRODUCTION OWNERSHIP BY WELL REMAINS FOR EACH PARTNER
nets_ownership.drop(["Oil (BBLS)","Gas (MCF)","Water (BBLS)", "3","21927","35810","24363","21723","30058", "35104","1","37745","35471"], axis=1)

,ID,Well Name_x,Date,Well Name_y,CASEY-OIL,CASEY-GAS,CML-OIL,CML-GAS,IDC-OIL,IDC-GAS,...,LANMLN-OIL,LANMLN-GAS,PATTERSON-OIL,PATTERSON-GAS,PHIL-OIL,PHIL-GAS,TRAVIS-OIL,TRAVIS-GAS,KYLE-OIL,KYLE-GAS
0,4035.007,Aaron #1,2021-09-26,AARON #1,0.0,0.0,0.014607,0.017528,0.374960,0.449952,...,0.0,0.0,1.505175,1.806210,0.146069,0.175283,0.0,0.0,0.014607,0.017528
1,4035.007,Aaron #1,2021-09-25,AARON #1,0.0,0.0,0.002921,0.016068,0.074992,0.412456,...,0.0,0.0,0.301035,1.655693,0.029214,0.160676,0.0,0.0,0.002921,0.016068
2,4035.007,Aaron #1,2021-09-24,AARON #1,0.0,0.0,0.102249,0.000000,2.624721,0.000000,...,0.0,0.0,10.536225,0.000000,1.022485,0.000000,0.0,0.0,0.102249,0.000000
3,4035.007,Aaron #1,2021-09-23,AARON #1,0.0,0.0,0.241016,0.016068,6.186843,0.412456,...,0.0,0.0,24.835387,1.655693,2.410143,0.160676,0.0,0.0,0.241016,0.016068
4,4035.007,Aaron #1,2021-09-22,AARON #1,0.0,0.0,0.182588,0.137306,4.687003,3.524626,...,0.0,0.0,18.814688,14.148645,1.825866,1.373051,0.0,0.0,0.182588,0.137306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275802,1825.004,Woodward #1,2012-02-24,Woodward #1,0.0,0.0,0.028336,0.000000,0.727383,0.000000,...,0.0,0.0,3.249562,0.000000,0.170015,0.000000,0.0,0.0,NaN,NaN
275803,1825.004,Woodward #1,2012-02-23,Woodward #1,0.0,0.0,0.075563,0.000000,1.939688,0.000000,...,0.0,0.0,8.665499,0.000000,0.453374,0.000000,0.0,0.0,NaN,NaN
275804,1825.004,Woodward #1,2012-02-22,Woodward #1,0.0,0.0,0.003148,0.000000,0.080820,0.000000,...,0.0,0.0,0.361062,0.000000,0.018891,0.000000,0.0,0.0,NaN,NaN
275805,1825.004,Woodward #1,2012-02-21,Woodward #1,0.0,0.0,0.003148,0.000000,0.080820,0.000000,...,0.0,0.0,0.361062,0.000000,0.018891,0.000000,0.0,0.0,NaN,NaN
275806,1825.004,Woodward #1,2012-02-20,Woodward #1,0.0,0.0,0.031484,0.000000,0.808203,0.000000,...,0.0,0.0,3.610625,0.000000,0.188906,0.000000,0.0,0.0,NaN,NaN

In [56]:
#SAVE DAILY PRODUCTION OWNED BY WELL AS A CSV
nets_ownership.to_csv("raw data/daily-partner-revenue-by-well.csv")

In [57]:
#GROUP EACH PARTNERS OWNERSHIP BY DATE
casey_oil = pd.Series(nets_ownership.groupby("Date")["CASEY-OIL"].sum())
casey_gas = pd.Series(nets_ownership.groupby("Date")["CASEY-GAS"].sum())
cml_oil = pd.Series(nets_ownership.groupby("Date")["CML-OIL"].sum())
cml_gas = pd.Series(nets_ownership.groupby("Date")["CML-GAS"].sum())
idc_oil = pd.Series(nets_ownership.groupby("Date")["IDC-OIL"].sum())
idc_gas = pd.Series(nets_ownership.groupby("Date")["IDC-GAS"].sum())
jason_oil = pd.Series(nets_ownership.groupby("Date")["JASON-OIL"].sum())
jason_gas = pd.Series(nets_ownership.groupby("Date")["JASON-GAS"].sum())
ken_oil = pd.Series(nets_ownership.groupby("Date")["KEN-OIL"].sum())
ken_gas = pd.Series(nets_ownership.groupby("Date")["KEN-GAS"].sum())
lanmln_oil = pd.Series(nets_ownership.groupby("Date")["LANMLN-OIL"].sum())
lanmln_gas = pd.Series(nets_ownership.groupby("Date")["LANMLN-GAS"].sum())
patterson_oil = pd.Series(nets_ownership.groupby("Date")["PATTERSON-OIL"].sum())
patterson_gas = pd.Series(nets_ownership.groupby("Date")["PATTERSON-GAS"].sum())
phil_oil = pd.Series(nets_ownership.groupby("Date")["PHIL-OIL"].sum())
phil_gas = pd.Series(nets_ownership.groupby("Date")["PHIL-GAS"].sum())
travis_oil = pd.Series(nets_ownership.groupby("Date")["TRAVIS-OIL"].sum())
travis_gas = pd.Series(nets_ownership.groupby("Date")["TRAVIS-GAS"].sum())
kyle_oil = pd.Series(nets_ownership.groupby("Date")["KYLE-OIL"].sum())
kyle_gas = pd.Series(nets_ownership.groupby("Date")["KYLE-GAS"].sum())

In [58]:
#PUT ALL DAILY SUMMED DATA IN SINGLE DF WITH MULTI COLUMNS (PARTNER, OIL & GAS)
#DATA GOING INTO DF (DATE IS COLUMN NAME IS DATA WAS GROUPED BY DATE)
data= [casey_oil, casey_gas, cml_oil, cml_gas, idc_oil, idc_gas, jason_oil, jason_gas, ken_oil,ken_gas, lanmln_oil, lanmln_gas, patterson_oil,patterson_gas, phil_oil,phil_gas, travis_oil,travis_gas, kyle_oil, kyle_gas]

gas_data= [casey_gas, cml_gas, idc_gas, jason_gas, ken_gas,lanmln_gas, patterson_gas,phil_gas,travis_gas, kyle_gas]
oil_data= [casey_oil, cml_oil, idc_oil, jason_oil, ken_oil,lanmln_oil, patterson_oil,phil_oil,travis_oil, kyle_oil]

#CREATE DATAFRAME FOR GAS AND OIL GROUP & GAS AND OIL INDIVIDUAL, TRANSPOSE SO DATE IS IN ROW POSITION
grouped_nets = pd.DataFrame(data).transpose()
gas_nets = pd.DataFrame(gas_data).transpose()
oil_nets = pd.DataFrame(oil_data).transpose()

#NEW COLUMN NAMES CREATED BASED ON PARTNER AND THE OWNERSHIIP (OIL & GAS)
#partners_output = [["3", "21297", "35810", "24363", "21723", "30058", "35104", "1", "37745"],["OIL", "GAS"]]
partners_output = [["Casey", "CML", "IDC", "Jason", "Ken", "LAN MLN", "Patterson", "Phil", "Travis", "Kyle"],["OIL", "GAS"]]
#MAXING COLUMN NAMES FIT MULTI-INDEX FORMAT USING COLUMN NAMES CREATED IN ABOVE LINE
grouped_nets.columns = pd.MultiIndex.from_product(partners_output, names=["partner","ownership"])
#RESETING INDEX SO THAT DATE COLUMN CAN BE CONVERTED TO DATETIME AND SORTED
grouped_nets.reset_index(inplace=True)
#grouped_nets

In [59]:
oil_nets

,CASEY-OIL,CML-OIL,IDC-OIL,JASON-OIL,KEN-OIL,LANMLN-OIL,PATTERSON-OIL,PHIL-OIL,TRAVIS-OIL,KYLE-OIL
Date,,,,,,,,,,
2006-03-05,0.000000,1.723194,27.525753,0.000000,4.734574,21.355322,8.566258,9.005546,0.000000,0.000000
2006-03-06,0.000000,0.812032,12.971192,0.000000,34.949763,25.379519,63.234557,8.106992,0.000000,0.000000
2006-03-07,0.000000,1.827900,29.198350,0.000000,45.710158,41.699560,82.703324,14.356961,0.000000,0.000000
2006-03-08,0.000000,2.061131,32.923908,0.000000,43.299829,43.161678,78.342320,15.215583,0.000000,0.000000
2006-03-09,0.000000,1.082043,17.284274,0.000000,46.570990,33.818521,84.260826,10.802666,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
2021-09-22,0.314549,3.933110,114.444772,3.033692,465.570431,9.294426,379.932622,35.858689,1.313876,5.155993
2021-09-23,0.244364,3.962300,110.038801,2.918990,469.844101,7.477734,388.701441,35.955232,0.990016,4.231025
2021-09-24,0.039220,3.092121,92.715506,2.428049,382.740327,2.771404,315.900304,28.035079,0.968578,4.090760
2021-09-25,0.115748,4.017142,95.631344,2.787388,443.170650,10.755361,369.515405,36.198740,0.746110,3.427235
2021-09-26,0.216112,2.952089,89.454992,2.462747,360.722969,3.895806,304.771955,27.797642,0.682626,3.564202

In [66]:
oil_nets.rename(columns={'CML-OIL':'CML','CASEY-OIL':'CASEY','IDC-OIL':'IDC','JASON-OIL':'JASON','KEN-OIL':'KEN','LANMLN-OIL':'LAN MLN','PATTERSON-OIL':'PATTERSON','PHIL-OIL':'PHIL','TRAVIS-OIL':'TRAVIS','KYLE-OIL':'KYLE'}, inplace= True)
oil_nets.to_csv("raw data/ownership-oil.csv")

In [67]:
oil_nets.reset_index(inplace=True)
oil_nets.to_json(r"C:\Users\avalosg\OneDrive - CML Exploration\Desktop\PARTNER_NET_INTEREST\static\ownership-oil.json", orient="records", date_format='iso')

In [68]:
gas_nets.rename(columns={'CML-GAS':'CML','CASEY-GAS':'CASEY','IDC-GAS':'IDC','JASON-GAS':'JASON','KEN-GAS':'KEN','LANMLN-GAS':'LAN MLN','PATTERSON-GAS':'PATTERSON','PHIL-GAS':'PHIL','TRAVIS-GAS':'TRAVIS','KYLE-GAS':'KYLE'},inplace= True)
gas_nets.to_csv("raw data/ownership-gas.csv")
gas_nets.reset_index(inplace=True)
gas_nets.to_json(r"C:\Users\avalosg\OneDrive - CML Exploration\Desktop\PARTNER_NET_INTEREST\static\ownership-gas.json", orient="records", date_format='iso')

In [69]:
grouped_nets.to_csv("raw data\daily-partner-ownership.csv")
#grouped_nets.to_json("raw data\daily-partner-ownership.json", orient="records", date_format='iso')

In [ ]:
#grouped_nets.to_json(r"C:\Users\avalosg\OneDrive - CML Exploration\Desktop\PARTNER_NET_INTEREST\static\grouped-daily-partner-ownership.json", orient="records", date_format='iso')
#grouped_nets.to_csv(r"C:\Users\avalosg\OneDrive - CML Exploration\Desktop\PARTNER_NET_INTEREST\static\grouped-daily-partner-ownership.csv")

In [ ]:
#READ IN PARTNER NAME-ID FILE TO MAKE INTO JSON FORMAT ONLY NEED IF NEW PARTNER IS ADDED
#partner_id = pd.read_csv("raw data\partner-name-id.csv")
#partner_id.to_json(r"C:\Users\avalosg\OneDrive - CML Exploration\Desktop\PARTNER_NET_INTEREST\static\partner_id.json")