In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd
import numpy as np

In [19]:
#read in file with all interest data
interests = pd.read_csv("PARTNER_INTERESTS.csv")
interests.fillna("", axis=1, inplace=True)

In [28]:
production = pd.read_csv("data.csv")
#production.ID = production.ID.astype(str)

c:\users\avalosg\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [29]:
production

,ID,Well Name,Date,Oil (BBLS),Gas (MCF),Water (BBLS),TP,CP,Comments,moving_score
0,4035.007,Aaron #1,7/8/2021,108.34,0.00,108.55,100.0,80.0,NaN,NaN
1,4035.004,Aniken #1,7/8/2021,4.54,0.00,0.00,120.0,20.0,timer 4-20,NaN
2,9450.003,Annpick #1,7/8/2021,0.00,0.00,0.00,50.0,20.0,NaN,NaN
3,9430.009,BMMP #1,7/8/2021,80.16,736.75,109.76,1000.0,0.0,NaN,NaN
4,6725.001,Barrier #1,7/8/2021,0.00,56.31,0.00,150.0,10.0,hot oil,NaN
...,...,...,...,...,...,...,...,...,...,...
225844,3850.001,Cannan #1,3/9/2006,541.00,445.00,0.00,1150.0,NaN,NaN,0.0
225845,3850.001,Cannan #1,3/8/2006,503.00,368.00,0.00,1150.0,NaN,NaN,0.0
225846,3850.001,Cannan #1,3/7/2006,531.00,441.00,0.00,1150.0,NaN,NaN,0.0
225847,3850.001,Cannan #1,3/6/2006,406.00,331.00,0.00,1150.0,NaN,NaN,0.0
225848,3850.001,Cannan #1,3/5/2006,54.70,0.00,0.00,NaN,NaN,NaN,0.0

In [22]:
test= pd.merge(interests,production,on='ID')

In [24]:
test.to_csv("test.csv")