In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
#2021 import
daily_production_df = pd.read_csv('data.csv', index_col='Unnamed: 0')
#daily_production_df = pd.read_csv('data.csv')

#Chane Date column type to datetype (When in was inported, it was an obj)
daily_production_df.Date = pd.to_datetime(daily_production_df.Date) #changes Date to DateTime type from Object(string) type
#df.Date = pd.to_datetime(df.Date) # TO DO: CHECK DOCUMENTATION FOR THIS

#removing NaNs
daily_production_df['Remarks'] = daily_production_df['Remarks'].fillna('') #Used this method to only execute on Remarks column,
daily_production_df['Hrs_On'] = daily_production_df['Hrs_On'].fillna('')
daily_production_df['Tubing_(PSI)'] = daily_production_df['Tubing_(PSI)'].fillna('')
daily_production_df['Casing_(PSI'] = daily_production_df['Casing_(PSI'].fillna('')
#so DateTime and float64 types wouldn't be converted to Object types


#Formating floats to show zero decimals
pd.options.display.float_format = '{:,.0f}'.format

daily_production_df

,Site_Name,Hrs_On,Oil_(BBL),Gas_(MCF),Water_(BBL),Tubing_(PSI),Casing_(PSI,Remarks,Date
0,CROC 1H,24:00,0,5,0,150.0,70.0,"2 days on, 2 days off",2021-08-23
1,GALAH 3H,24:00,33,49,12,100.0,80.0,,2021-08-23
2,GOANNA 1H,24:00,18,25,14,180.0,120.0,"NO PA, DID JACK TRICK GOT PA.",2021-08-23
3,GREAT WHITE 1H,24:00,58,59,6,125.0,90.0,,2021-08-23
4,GREAT WHITE 2H,24:00,44,28,7,125.0,90.0,,2021-08-23
...,...,...,...,...,...,...,...,...,...
"16,963",Summary,,"2,458","2,322","2,795",,,,2018-05-17
"16,959",THORNY DEVIL 1H,24:00:00,378,443,275,390,20,,2018-05-17
"16,960",THORNY DEVIL 2H,24:00:00,311,487,329,375,20,,2018-05-17
"16,961",THORNY DEVIL 3H,24:00:00,52,110,52,100,700,ir-308,2018-05-17
"16,962",WOMBAT 2H,24:00:00,30,38,8,0,0,,2018-05-17

In [3]:
#2021 dates
import datetime
end = datetime.date.today() #THIS FORMAT WORKS
#end = datetime.datetime(2021, 2, 1).date()
start = daily_production_df.iloc[0]['Date'].date() # Gets the most recent date from the dataframe

numdays = (end-start).days # Calculates the number of days between the above two dates

date_list = [end - timedelta(days=x) for x in range(numdays)]

In [4]:
import_2021_df = pd.DataFrame()

for i in range(numdays):
    try:
        path2021 = 'G:\CML Operations\WELL FILES\A     NON-OPERATED - SOLD\HAWKWOOD\Daily production starting 5-17-2018\\2021\DailyProductionReport-' + str(date_list[i]) + '.xlsx'
        import_2021 = pd.read_excel(path2021)
        import_2021['Remarks'] = import_2021['Remarks'].fillna('')
        import_2021['Hrs_On'] = import_2021['Hrs_On'].fillna('')
        import_2021['Tubing_(PSI)'] = import_2021['Tubing_(PSI)'].fillna('')
        import_2021['Casing_(PSI'] = import_2021['Casing_(PSI'].fillna('')
        import_2021.dropna(axis=0, how='any', inplace=True)
        

        
        #import_2021_df = pd.concat([import_2021_df, import_2021]).drop_duplicates()
        import_2021_df = pd.concat([import_2021_df,import_2021]).drop_duplicates()
    except:
        print('The production for ' + str(date_list[i]) + ' is not available.')
        continue

The production for 2021-08-26 is not available.
The production for 2021-08-25 is not available.

In [5]:
try:
    import_2021_df.Date = pd.to_datetime(import_2021_df.Date)
    import_2021_df['Date'] = pd.to_datetime(import_2021_df["Date"].dt.strftime('%Y-%m-%d'))
    import_2021_df.to_csv('plot.csv')
except AttributeError:
    print("Cannot create dataframe for " + str(date_list[i]) + " production")

import_2021_df

,Site_Name,Hrs_On,Oil_(BBL),Gas_(MCF),Water_(BBL),Tubing_(PSI),Casing_(PSI,Remarks,Date
0,CROC 1H,24:00,0,5,0,150,70,BOL,2021-08-24
1,GALAH 3H,24:00,26,48,24,100,80,,2021-08-24
2,GOANNA 1H,24:00,4,23,50,150,120,,2021-08-24
3,GREAT WHITE 1H,24:00,39,63,30,125,90,,2021-08-24
4,GREAT WHITE 2H,24:00,33,63,30,125,90,,2021-08-24
5,JAVELINA 1H,24:00,19,13,7,130,80,,2021-08-24
6,MANTA 1H,24:00,27,35,22,200,80,,2021-08-24
7,REEF 3H,24:00,24,21,6,200,70,20 ON 4 OF,2021-08-24
8,RIDGEBACK 1H,24:00,10,11,2,120,80,7.1spm,2021-08-24
9,SEA WASP 2H,24:00,35,37,9,120,90,,2021-08-24
10,STINGRAY 2H,24:00,26,8,7,200,80,"12hrs on/12hrs off, 6.6spm",2021-08-24
11,THORNY DEVIL 1H,24:00,39,97,22,150,100,,2021-08-24
12,THORNY DEVIL 2H,24:00,38,85,19,160,100,,2021-08-24
13,THORNY DEVIL 3H,0:00,0,21,0,150,80,,2021-08-24
14,WOMBAT 2H,24:00,10,33,7,140,80,cleaning and fixing heater,2021-08-24
15,Summary,,332,565,237,,,,2021-08-24

In [6]:
import_2021_df.to_csv('plot.csv')

In [7]:
# concatenating 2021 import to daily production df (2018, 2019, &2020)
daily_production_df = pd.concat([daily_production_df, import_2021_df]).drop_duplicates()

#sorting data by name_site ascending, keeping most recent date at ['Date'][0] so it can be refernced in the following yearts date list
daily_production_df = daily_production_df.sort_values(['Date', 'Site_Name'], ascending = [False , True]) 

daily_production_df

,Site_Name,Hrs_On,Oil_(BBL),Gas_(MCF),Water_(BBL),Tubing_(PSI),Casing_(PSI,Remarks,Date
0,CROC 1H,24:00,0,5,0,150,70,BOL,2021-08-24
1,GALAH 3H,24:00,26,48,24,100,80,,2021-08-24
2,GOANNA 1H,24:00,4,23,50,150,120,,2021-08-24
3,GREAT WHITE 1H,24:00,39,63,30,125,90,,2021-08-24
4,GREAT WHITE 2H,24:00,33,63,30,125,90,,2021-08-24
...,...,...,...,...,...,...,...,...,...
"16,963",Summary,,"2,458","2,322","2,795",,,,2018-05-17
"16,959",THORNY DEVIL 1H,24:00:00,378,443,275,390,20,,2018-05-17
"16,960",THORNY DEVIL 2H,24:00:00,311,487,329,375,20,,2018-05-17
"16,961",THORNY DEVIL 3H,24:00:00,52,110,52,100,700,ir-308,2018-05-17
"16,962",WOMBAT 2H,24:00:00,30,38,8,0,0,,2018-05-17

In [8]:
#saving all original 2021 production to csv
#CSV SAVED WITHOUT CHANING ANY < 1 TO 0.01
daily_production_df.to_csv('G:\CML Operations\WELL FILES\A     NON-OPERATED - SOLD\HAWKWOOD\Daily production starting 5-17-2018\Backups\data_original.csv')

In [9]:
daily_production_df_JSON = daily_production_df

In [10]:
# REPLACING ALL VALUES <1 TO 0.01
daily_production_df_JSON.loc[(daily_production_df_JSON['Gas_(MCF)'] < 1), ['Gas_(MCF)']] = [0.01]
daily_production_df_JSON.loc[(daily_production_df_JSON['Water_(BBL)'] < 1), ['Water_(BBL)']] = [0.01]
daily_production_df_JSON.loc[(daily_production_df_JSON['Oil_(BBL)'] < 1), ['Oil_(BBL)']] = [0.01]

In [11]:
daily_production_df.to_csv('data.csv') #CSV SAVED WITH ALL < 1 REPLACED TO 0.01

In [12]:
# Create wellname and date widgets to sort dataframe
#well_list = daily_production_df['Site_Name'].unique().tolist()

In [13]:
daily_production_df_JSON

,Site_Name,Hrs_On,Oil_(BBL),Gas_(MCF),Water_(BBL),Tubing_(PSI),Casing_(PSI,Remarks,Date
0,CROC 1H,24:00,0,5,0,150,70,BOL,2021-08-24
1,GALAH 3H,24:00,26,48,24,100,80,,2021-08-24
2,GOANNA 1H,24:00,4,23,50,150,120,,2021-08-24
3,GREAT WHITE 1H,24:00,39,63,30,125,90,,2021-08-24
4,GREAT WHITE 2H,24:00,33,63,30,125,90,,2021-08-24
...,...,...,...,...,...,...,...,...,...
"16,963",Summary,,"2,458","2,322","2,795",,,,2018-05-17
"16,959",THORNY DEVIL 1H,24:00:00,378,443,275,390,20,,2018-05-17
"16,960",THORNY DEVIL 2H,24:00:00,311,487,329,375,20,,2018-05-17
"16,961",THORNY DEVIL 3H,24:00:00,52,110,52,100,700,ir-308,2018-05-17
"16,962",WOMBAT 2H,24:00:00,30,38,8,0,0,,2018-05-17

In [14]:
# CHANGE DATETIME TYPE TO OBJECT
daily_production_df_JSON['Date'] = daily_production_df_JSON['Date'].dt.strftime('%Y-%m-%d')

In [15]:
daily_production_df_JSON.to_json("C:/Users/avalosg/OneDrive - CML Exploration/Desktop/HAWKWOOD/static/all_production.json", orient='values', date_format='iso')

In [16]:
# CREATE DF SPECIFIC TO JSON FORMAT MAKE EVERYTHING LESS THAN 1 = .01
import_2021_df_JSON = import_2021_df
import_2021_df_JSON

,Site_Name,Hrs_On,Oil_(BBL),Gas_(MCF),Water_(BBL),Tubing_(PSI),Casing_(PSI,Remarks,Date
0,CROC 1H,24:00,0,5,0,150,70,BOL,2021-08-24
1,GALAH 3H,24:00,26,48,24,100,80,,2021-08-24
2,GOANNA 1H,24:00,4,23,50,150,120,,2021-08-24
3,GREAT WHITE 1H,24:00,39,63,30,125,90,,2021-08-24
4,GREAT WHITE 2H,24:00,33,63,30,125,90,,2021-08-24
5,JAVELINA 1H,24:00,19,13,7,130,80,,2021-08-24
6,MANTA 1H,24:00,27,35,22,200,80,,2021-08-24
7,REEF 3H,24:00,24,21,6,200,70,20 ON 4 OF,2021-08-24
8,RIDGEBACK 1H,24:00,10,11,2,120,80,7.1spm,2021-08-24
9,SEA WASP 2H,24:00,35,37,9,120,90,,2021-08-24
10,STINGRAY 2H,24:00,26,8,7,200,80,"12hrs on/12hrs off, 6.6spm",2021-08-24
11,THORNY DEVIL 1H,24:00,39,97,22,150,100,,2021-08-24
12,THORNY DEVIL 2H,24:00,38,85,19,160,100,,2021-08-24
13,THORNY DEVIL 3H,0:00,0,21,0,150,80,,2021-08-24
14,WOMBAT 2H,24:00,10,33,7,140,80,cleaning and fixing heater,2021-08-24
15,Summary,,332,565,237,,,,2021-08-24

In [17]:
# CHANGE DATETIME TYPE TO OBJECT
import_2021_df_JSON['Date'] = import_2021_df_JSON['Date'].dt.strftime('%Y-%m-%d')

In [18]:
import_2021_df_JSON.to_json("C:/Users/avalosg/OneDrive - CML Exploration/Desktop/HAWKWOOD/static/todaysImport.json", orient='values', date_format='iso')